
parameters:
    ignoreErrors:
        - '#Call to an undefined static method Core\\SQL::#'
        - '#Cannot call method bindValue\(\) on bool#'
        - '#Cannot call method execute\(\) on bool#'
        - '#Function fastcgi_finish_request not found#'